@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Chakra+Petch&family=Kanit&family=Lobster&display=swap');
:root {
    --main: #242423;
    --color2: #f5cb5c;
    --color3: #f7c59f;
    --color1: #8a7870;
    --font1: 'Chakra Petch', sans-serif;
    --font2: 'Lobster', cursive;
    --font3: 'Kanit', sans-serif;
    --font4: 'ABeeZee', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--main);

}

/*.nav{
    position:static;
}*/
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.titulo{
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social img{
    cursor: pointer;
    border-radius: 7px;
    padding: 5px;
}
.social img:hover{
    background-color: #f1dca7;
}
.navegacion ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.navegacion li{
    font-family: var(--font3);
    font-size: 1.1rem;
    margin: 5px;
    color: var(--color1);
    background-color: transparent;
    width: 130px;
    height: auto;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    padding: 7px
}
.navegacion li a{
    text-decoration: none;
    color: var(--color1);
}
.navegacion li:hover{
    background-color: #f1dca7;
}
.nav img{
    margin: 20px;
}

.main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#name{
    width: 100%;
    display: flex;
    justify-content: center;
}
h4{
    font-family: var(--font2);
    color: var(--color1);
}
h2{
    font-family: var(--font1);
    color: var(--color3);
}
.mainAbout{
    width: 100%;
    height: 80vh;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.information{
    width: 50%;
    height: 70vh;
    background-color: #343434;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.information:hover{
    box-shadow: rgb(182, 176, 176) 0px 5px 15px;
}
.textInformation{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.textInformation p{
    height: 50vh;
    width: 90%;
    font-family: var(--font4);
    border-radius: 7px;
    color: var(--color3);
    display: flex;
    align-items: center;
}
.photo img{
    width: 100px;
    background-color: burlywood;
    border-radius: 7px;
}
.languages{
    background-color: #343434;
    width: 45%;
    height: 70vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.languages:hover{
    box-shadow: rgb(182, 176, 176) 0px 5px 15px;
}
.htmlCss{
    display: flex;
    width: 100%;
    height: 50%;
    border-radius: 7px;
}
.jsPython{
    height: 50%;
    display: flex;
    width: 100%;
    border-radius: 7px;
}
.css{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 7px;
}
.css:hover{
    background-color: rgb(67, 67, 214);
}
.html{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.html:hover{
    background-color: orangered;
}
.js{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.js:hover{
    background-color: yellow;
}
.python{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.python:hover{
    background-color: greenyellow;
}

.mainProjects{
    width: 99%;
    height: 79vh;
    display: flex;
    padding-top: 1vh;
    padding-left: 1%;
}
.mainProjects a{
    border-radius: 7px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.mainProjects a:hover{
    box-shadow: rgb(182, 176, 176) 0px 5px 15px;
}
.project1{
    width: 30%;
    height: 50%;
    background-color: #343434;
    border-radius: 7px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.imageProject{
    background-color:var(--color3) ;
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.textProject{
    border-radius: 7px;
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    color: var(--color3);
    font-family: var(--font4);
    font-size: small;
}
.mainContact{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalContact{
    width: 50%;
    height: auto;
    background-color: #343434;
    border-radius: 7px;
    color: var(--color1);
}
.personalContact:hover{
    background-color: #f1dca7;
}
.contact{
    display: flex;
    justify-content: center;
    font-family: var(--font1);
}
.contact1{
    font-family: var(--font3);
}

@media screen and (max-width: 720px){
    body{
        margin: 0;
        padding: 0 ;
    }
    .navbar{
        height: 30vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        height: 40vh;
    }
    .navegacion{
        height: 50%;
    }
    .navegacion ul{
        display: flex;
        flex-direction: column;
    }
    .nav{
        width: 80px;
        height: 40%;
        display: flex;
        justify-content: center;
    }
    .main{
        height: 60vh;
    }
    .information{
        width: 90%;
        height: 80%;
    }
    .languages{
        width: 90%;
        height: 80vh;
        margin: 10px;
    }
    .mainAbout{
        height: 60%;
        display: flex;
        flex-direction: column;
    }
    .mainProjects{
        display: flex;
        justify-content: center;
    }
    .project1{
        width: 90%;
        height: 70%;
    }
    .mainContact{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .contact{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .personalContact{
        background-color: #343434;
        width: 50vh;
        color: var(--color1);
        border-radius: 7px;
        font-size: 17px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contact{
        font-family: var(--font1);
    }
    .contact1{
        font-family: var(--font3);
    }
}

